*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,ol,dl{
    list-style-type: none
}
a, a:hover{
    display: inline-block;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 1.4;
}
/* ====== Header Section Style Start ====== */
#header{
    padding: 12px 0;
    background: #8B4513;
}
.header_content h5{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #FFFFFF;
}
.header_content h5 span{
    font-weight: 800;
    text-transform: uppercase;
}
.cancel i{
    font-size: 16px;
    color: #FFFFFF;
}
/* ====== Header Section Style End ====== */

/* ====== Navbar Section Style Start ====== */
/* ====== Navbar Section Style End ====== */

/* ====== Banner Section Style Start ====== */
/* ====== Banner Section Style End ====== */

/* ====== Gallery Section Style Start ====== */
/* ====== Gallery Section Style End ====== */

/* ====== Dress Section Style Start ====== */
/* ====== Dress Section Style End ====== */

/* ====== Outfit Section Style Start ====== */
/* ====== Outfit Section Style End ====== */

/* ====== Service Section Style Start ====== */
/* ====== Service Section Style End ====== */

/* ====== Feedback Section Style Start ====== */
/* ====== Feedback Section Style End ====== */

/* ====== Footer Section Style Start ====== */
/* ====== Footer Section Style End ====== */

/* font-family: "Lato", sans-serif; */
/* font-family: "Playfair Display", serif; */