*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,ol,dl{
    list-style-type: none
}

a, a:hover{
    display: inline-block;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p{
    line-height: 1.4;
}
/* ====== Header Section Style Start ====== */
#header{
    padding: 12px 0;
    background: #8B4513;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.header_content h5{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.header_content h5 span{
    font-weight: 800;
    text-transform: uppercase;
}

.cancel {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.cancel i {
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
}
/* ====== Header Section Style End ====== */

/* ====== Navbar Section Style Start ====== */
.navbar{
    padding: 14.5px 0;
    background: transparent;
    width: 100%;
    position: absolute;
    top: 64px;
    left: 0;
    z-index: 999;
}

.navbar-nav{
    gap: 32px;
}

.navbar-nav .nav-item .nav-link{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all linear 0.3s;
}

.navbar-nav .nav-item .nav-link i{
    font-size: 14px;
    color: #FFFFFF;
    transition: all linear 0.3s;
}

.navbar-nav .nav-item .nav-link:hover, .navbar-nav .nav-item .nav-link i:hover{
    color: #8B4513;
}

.nav_actions {
    display: flex;
    align-items: center;
    gap: 12px;
}

.search_box {
    position: relative;
    width: 214px;
}

.search_box .search_icon {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: #B6B6B6;
    font-size: 16px;
    z-index: 2;
}

.search_box .form-control {
    width: 100%;
    padding: 8px 8px 8px 32px;
    background: #FAFAFA;
    border: none;
    outline: none;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.search_box .form-control::placeholder {
    color: #B6B6B6;
}

.nav_actions .nav_icon {
    font-size: 18px;
    color: #FFFFFF;
    transition: all linear 0.3s;
}

.nav_actions .nav_icon:hover {
    color: #8B4513;
}
/* ====== Navbar Section Style End ====== */

/* ====== Banner Section Style Start ====== */
#banner {
    width: 100%;
    min-height: 100vh;
    padding: 85px 0;
    background-image: url("../images/banner.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner_content {
    position: relative;
    z-index: 5;
    margin-top: 284px;
}

.banner_content .sub_title {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 10%;
    color: #FFFFFF;
    text-transform: uppercase;
}

.banner_content .main_title {
    width: 100%;
    max-width: 870px;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-size: 76px;
    line-height: 130%;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 16px;
}

.product_cards_wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 504px;
}

.banner_product_card {
    width: 442px;
    background: #FFFFFF;
    position: relative;
}

.banner_product_card .card_img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner_product_card .card_body {
    padding: 16px;
}

.banner_product_card .card_body h6 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    color: #3E3E3E;
    text-transform: capitalize;
}

.banner_product_card .card_body .price {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #757575;
    margin-top: 16px;
    margin-bottom: 44px;
}

.banner_product_card .card_body .shop_link {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 10%;
    color: #3E3E3E;
    text-decoration: underline;
    text-transform: uppercase;
    transition: all linear 0.3s;
}

.banner_product_card .card_body .shop_link:hover {
    color: #8B4513;
}

.scroll_down {
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 10%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.scroll_down i {
    font-size: 14px;
}

/* ====== Banner Section Style End ====== */

/* ====== Gallery Section Style Start ====== */
#gallery {
    padding: 64px 0;
}

.gallery_item {
    position: relative;
    cursor: pointer;
}

.gallery_item .gallery_img {
    object-fit: cover;
    transition: all linear 0.3s;
}

.gallery_item:hover .gallery_img {
    transform: scale(1.05);
}

.gallery_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 30px;
    opacity: 0;
    transition: all linear 0.3s;
}

.gallery_item:hover .gallery_overlay {
    opacity: 1;
}

.gallery_title {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 1.3;
    color: #FFFFFF;
    text-transform: uppercase;
}

.gallery_item:not(.gallery_item_tall) .gallery_img {
    height: 374px;
}

.gallery_item_tall .gallery_img {
    min-height: 780px;
}
/* ====== Gallery Section Style End ====== */

/* ====== Dress Section Style Start ====== */
.dress_section_title {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-size: 76px;
    line-height: 1.3;
    color: #3E3E3E;
    text-transform: uppercase;
    max-width: 1155px;
}

.dress_card {
    position: relative;
    width: 100%;
}

.dress_img_wrapper {
    width: 100%;
    height: 420px;
}

.dress_card .dress_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.rating_badge {
    position: absolute;
    top: 12px;
    right: 8px;
    background: #8B4513;
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 4px 8px;
    border-radius: 100px;
    opacity: 0;
    visibility: hidden;
    transition: all linear 0.3s ;
}

.rating_badge i {
    color: #FFE605;
    font-size: 14px;
    margin-right: 4px;
}

.dress_card:hover .rating_badge {
    opacity: 1;
    visibility: visible;
}

.dress_card_body {
    padding-top: 16px;
}

.dress_card_body .category {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #757575;
    text-transform: uppercase;
    display: block;
}

.dress_card_body .product_title {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    color: #3E3E3E;
    margin-top: 4px;
    margin-bottom: 16px;
}

.dress_card_body .price {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #757575;
    margin-bottom: 32px;
}

.see_more_btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    background: #8B4513;
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 16.5px 16px;
    text-transform: uppercase;
    transition: all linear 0.3s;
}

.see_more_btn:hover {
    background: transparent;
    border: 1px solid #3E3E3E;
    color: #3E3E3E;
}
/* ====== Dress Section Style End ====== */

/* ====== Outfit Section Style Start ====== */
/* ====== Outfit Section Style End ====== */

/* ====== Service Section Style Start ====== */
/* ====== Service Section Style End ====== */

/* ====== Feedback Section Style Start ====== */
/* ====== Feedback Section Style End ====== */

/* ====== Footer Section Style Start ====== */
/* ====== Footer Section Style End ====== */

/* font-family: "Lato", sans-serif; */
/* font-family: "Playfair Display", serif; */